body {
  text-align: center;
  background-image: url(../image.jpeg);
  background-size: cover;
  padding-left: 300px;
}
h1 {
  padding-top: 200px;
  padding:
}

.circleOne {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: rgba(255, 106, 0, 0.9);
  padding-top: 30px;
  padding-left: 20px;
  position: sticky;


}

/* .circleTwo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: orange;
  opacity: 80%;
  padding-bottom: 30px;
  padding-right: 30px;
} */
